<main class="container">

  @if (mostrarAlertaExito()) {
    <div style="background-color: #84cc16; color: white; padding: 1rem; text-align: center; font-weight: bold; position: fixed; top: 20px; left: 50%; transform: translateX(-50%); z-index: 99999; border-radius: 8px; box-shadow: 0 4px 12px rgba(0,0,0,0.15); animation: fade 0.5s;">
      🎉 Reserva realizada correctamente. ¡Te esperamos en Artiem!
    </div>
  }
  <section class="home-hero">
  <div class="hero-bg-split">
    <div class="hero-column col-1"></div>
    <div class="hero-column col-2"></div>
    <div class="hero-column col-3"></div>
    <div class="hero-column col-4"></div>
  </div>

  <div class="hero-content-main">
    <span class="hero-tagline">QUERIDO VERANO</span>
    <h1>Hasta -20% para volver a vivirlo.</h1>
    <p>Vuelve a esos momentos que hacen que el verano se quede contigo.</p>
    <button class="btn-hero-action">RESERVAR MI VERANO</button>
  </div>
</section>

<section class="hotels-section-container">
  <h2>Nuestros Destinos</h2>
  <p class="section-subtitle">Descubre los hoteles Artiem</p>

  <div class="hotels-premium-grid">

    <div class="hotel-card hotel-menorca">
      </div>
    <div class="hotel-card hotel-menorca">
      </div>
    <div class="hotel-card hotel-menorca">
      </div>

    <div class="hotel-card hotel-other madrid">
      </div>
    <div class="hotel-card hotel-other asturias">
      </div>

  </div>
</section>
