<nav class="artiem-nav">
  <a routerLink="/" class="nav-logo-link" title="Volver al inicio">
    <img src="logo-artiem.png" alt="ARTIEM Hotels" class="nav-logo-img">
  </a>
  <div class="nav-links">
    <a routerLink="/hoteles/8" routerLinkActive="active-link">Artiem Audax</a>
    <a routerLink="/hoteles/1" routerLinkActive="active-link">Artiem Madrid</a>
    <a routerLink="/hoteles/11" routerLinkActive="active-link">Artiem Asturias</a>
    <a routerLink="/hoteles/7" routerLinkActive="active-link">Artiem Capri</a>
    <a routerLink="/hoteles/12" routerLinkActive="active-link">Artiem Carlos</a>
  </div>
</nav>
